body {
  background-color: #e8dbcf;
  text-align: center;
}

h1 {
  color: #895129;
}

img {
  max-width: 50%;
  margin-bottom: 15px;
  border-radius: 10px;
}

div {
  display: flex;
  justify-content: center;
}

a {
  margin: 10px;
  color: #895129;
}
